<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <form action = "#" method = "post">
    <fieldset>
        <legend> Veuillez vous connecter </legend>
            <div>
                Vous avez été déconnecté.
            </div>
        <p>
        <label for = "username"> Nom d'utilisateur </label>
        <input type = "text" id = "username" name = "username" />
        </p>
        <p>
        <label for = "password"> Mot de passe </label>
        <input type = "password" id = "password" name = "password" />
        </p>
        <p>
        <label for = "Remember-me"> Se souvenir de moi? </label>
        <input type = "checkbox" id = "Remember-me" name = "Remember-me" />
        </p>
        <div>
            <button type = "submit" class = "btn" id="send"> Connectez-vous </button>
        </div>
    </fieldset>
 </form>
</body>
</html>